/* Header styles*/

#Header * {
    margin: 0;
    padding: 0;
}

@keyframes barberpole {
    100% {
      background-position: 100% 100%;
    }
}
#HeaderAnnouncements {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100vw;
    height: 20px;
    background: repeating-linear-gradient(-45deg, rgba(255, 174, 0, 0.5), rgba(255, 174, 0, 0.5) 1rem,rgba(0, 0, 0, 0.5) 1rem,rgba(0, 0, 0, 0.5) 2rem);
    background-size: 200% 200%;
    animation: barberpole 100s linear infinite;
    z-index: 12;
    color: var(--Primary);
    -webkit-text-stroke: .5px #121212;
    text-transform: uppercase;
    font-weight: 600;
}

#Header {
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    padding: 0;
    background-image: url(../Images/ChillingCat.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 9;
	transition: all .6s cubic-bezier(0.86, 0, 0.07, 1);
}

#Header.Scrolled {
	transform: translate3d(0, -100%, 0) scale(.75);
	opacity: 0;
}

#Title {
    color: var(--OnBackground);
    text-transform: uppercase;
    font-size: 6vw;
}

#Subtitle {
    color: var(--Primary);
    text-transform: uppercase;
    font-size: 2vw;
}

#Icons {
    width: 100%;
    margin-top: 2%;
    font-size: 3vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

@media screen and (max-width: 767px) {
    #Title {
        font-size: 9vw;
    }

    #Subtitle {
        font-size: 4vw;
    }

    #Icons {
        font-size: 6vw;
    }
}

#Icons a {
    color: var(--OnBackground);
    text-decoration: none;
    transition: all .2s ease;
    cursor: pointer;
}

#Icons a:hover {
    color: var(--Primary);
    transition: all .2s ease;
}

#ScrollDown {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    color: var(--OnBackground);
    font-size: 1.6dvw;
}

#SDIcons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

#SDIcons .SDIcon {
    -webkit-text-stroke: 2px;
    color: var(--Primary);
    animation: SDIconsAnim 1s ease infinite;
    bottom: 10px;
}

#ScrollDown .SDIcon:nth-child(1) {
    position: relative;
    bottom: -10px;
}

#ScrollDown .SDIcon:nth-child(2) {
    animation-delay: -.1s;
}

@keyframes SDIconsAnim {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

#SD {
    display: block;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

#SDMobile {
    display: none;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;

}

@media only screen and (max-width: 768px) {
    /* phones */
    #ScrollDown {
        font-size: 4dvw;
    }

    #SD {
        display: none;
    }

    #SDMobile {
        display: block;
    }
}

/* Content */

#Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#Content.Scrolled {
	opacity: 1;
    transition: transform .6s cubic-bezier(0.86, 0, 0.07, 1), opacity .6s cubic-bezier(0.86, 0, 0.07, 1);
}

@keyframes display {
	0% {
		transform: translateX(200px);
		opacity: 0;
	}

	10% {
		transform: translateX(0);
		opacity: 1;
	}

	20% {
		transform: translateX(0);
		opacity: 1;
	}

	30% {
		transform: translateX(-200px);
		opacity: 0;
	}

	100% {
		transform: translateX(-200px);
		opacity: 0;
	}
}

.pic-ctn {
	position: relative;
    top: 0;
	width: 100%;
	height: 100dvh;
	overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    z-index: 0;
}

.pic-ctn>img {
	position: absolute;
	opacity: 0;
	animation: display 10s infinite;
	min-width: 100%;
    max-width: 100dvh;
    min-height: 100%;
    max-height: 100dvh;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
	filter: blur(5px);
}

img:nth-child(2) {
	animation-delay: 2s;
}

img:nth-child(3) {
	animation-delay: 4s;
}

img:nth-child(4) {
	animation-delay: 6s;
}

img:nth-child(5) {
	animation-delay: 8s;
}

/* About Card */

#AboutCard {
    position: relative;
    z-index: 1;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--Surface);
    width: 850px;
    height: 450px;
    transition: all .3s ease;
}

#AboutCard:hover #AboutCardHoverIcon {
    opacity: 0;
    transition: all .2s;
}

@media screen and (min-width: 1024px) {

    #AboutCard:hover #AboutCardInfoContainer {
        width: 100%;
        transition: all .3s ease;
    }

    #AboutCard:hover #AboutCardTextContainer {
        width: 0%;
        transition: all .3s ease;
    }
}

#About {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    left: 0;
}

#AboutCardHoverIcon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    color: var(--Primary);
    font-size: 150%;
    rotate: -30deg;
    transition: all .2s;
}

#AboutCardInfoContainer {
    overflow: hidden;
    clip-path: inset(0);
    width: 0%;
    height: 100%;
    transition: all .6s ease;
}

#AboutCardInfo {
    position: absolute;
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all;
    overflow: hidden;
    white-space: nowrap;
}

#AboutCardInfo h1 {
    margin: 0;
    padding: 5px;
    text-transform: uppercase;
}

#AboutCardInfo h3 {
    margin: 0;
    padding: 0;
    color: var(--Primary);
    text-transform: uppercase;
}

.AboutCardInfoDetail > * {
    display: inline;
    text-decoration: none;
    color: var(--OnBackground);
}

.AboutCardInfoDetail h3 {
    color: var(--Primary);
    text-transform: uppercase;
    font-size: 90%;
}

#AboutCardInfoIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;

}

#AboutCardIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}

#AboutCardIcons a{
    color: var(--OnBackground);
    text-decoration: none;
    padding: 0px 7px;
    font-size: 180%;
    transition: all .2s ease-out;
}

#AboutCardIcons a:hover{
    transition: all .2s ease-out;
    color: var(--Primary);
}

#AboutCardImage {
    display: block;
    width: auto;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
}

#AboutCardImageMobile {
    display: none;
    border-radius: 5px;
    box-shadow: 0px 0px 15px var(--Primary);
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: var(--Primary);
}

#AboutCardTextContainer {
    overflow: hidden;
    clip-path: inset(0);
    width: 100%;
    height: 100%;
    transition: all .6s ease;
}

#AboutCardText {
    position: absolute;
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: all;
    overflow: hidden;
    top: 0;
    right: 0;
    padding: 0 20px;
}

#AboutCardText h1 {
    color: var(--Primary);
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

#AboutCardText p {
    color: var(--OnBackground);
    text-align: justify;
    white-space: initial;
    resize: none;
}

@media screen and (max-width: 1024px) {

    #AboutCardImageMobile {
        display: block;
    }

    #AboutCardImage {
        display: none;
    }

    #AboutCard {
        width: 85dvw;
        height: 75dvh;
    }
    
    #AboutCard:hover #AboutCardInfoContainer {
        height: 100%;
    }
    
    #AboutCard:hover #AboutCardTextContainer {
        height: 0%;
    }
    
    #About {
        flex-direction: column;
    }

    #AboutCardInfoContainer {
        width: 100%;
        height: 0%;
    }
    
    #AboutCardInfo {
        width: 100%;
        height: 100%;
    }

    #AboutCardTextContainer {
        width: 100%;
        height: 100%;
    }
    
    #AboutCardText {
        width: 100%;
        height: 100%;
        padding: 0 5px;
        font-size: 2.1dvh;
    }
}

@media screen and (max-width: 767px) {
    /* phones */
    #AboutCardText {
        font-size: 90%;
    }
    
}