:root {
    --ProjectInfoBGColor: 255, 255, 255;
}

.Project {
    overflow: hidden;
    position: relative;
    height: 120vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.ProjectInfo {
    background-color: rgba(var(--ProjectInfoBGColor), 0.5);
    padding-top: 15%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 45%;
    height: 100%;
    transition: all 1s;
}

.ProjectInfo:hover {
    background-color: rgba(var(--ProjectInfoBGColor), 0.7);
    transition: all 1s;
}

.ProjectInfo h1 {
    margin: 0;
    font-size: 230%;
}

.ProjectIcons {
    display: flex;
    gap: 10px;
}