#ProjectTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8dvh;
    color: var(--OnBackground);
}

#ProjectTitle h1 {
    margin: 0;
    padding: 0;
    font-size: 5vw;
    color: var(--Primary);
}

@media screen and (max-width: 767px) {
    #ProjectTitle h1 {
        font-size: 9vw;
    }
}

#ProjectInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0 20%;
}

#ProjectInfo #ProjectDetails {
    flex: 1;
    color: var(--OnBackground);
}

#ProjectInfo #ProjectOverview {
    flex: 2;
    color: var(--OnBackground);
}

#ProjectDetails {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
    flex-wrap: wrap;
}

.ProjectDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.ProjectDetail h3 {
    text-transform: uppercase;
}

.ProjectDetail * {
    margin: 0;
}

.ProjectDetail ul {
    padding-left: 0;
}

.ProjectDetail ul li::marker {
    content: '>  ';
    color: var(--Primary);
    font-weight: bold;
}

.ProjectDetailBorder {
    margin: 0;
    padding: 0;
    border-bottom: 2px solid var(--Primary);
    position: relative;
    left: 15px;
    width: 50px;
}

#ProjectOverview {
    width: 50%;
    text-align: justify;
}

@media screen and (max-width: 1025px) {
    #ProjectInfo {
        padding: 0 5%;
    }
}

@media screen and (max-width: 767px) {
    #ProjectInfo {
        flex-direction: column;
        padding: 0 10%;
    }

    #ProjectOverview {
        width: 100%;
    }
}

#ProjectCollage ul {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#ProjectCollage ul li {
    height: 60dvh;
    flex-grow: 1;
}

#ProjectCollage ul li img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

@media (max-aspect-ratio: 1/1) {
    #ProjectCollage ul li {
        height: 80dvh;
    }
}


@media (max-height: 480px) {
    #ProjectCollage ul li {
        height: 80dvh;
    }
}


@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    #ProjectCollage ul {
        flex-direction: row;
    }

    #ProjectCollage ul li {
        height: auto;
        width: 100%;
    }

    #ProjectCollage ul li img {
        width: 100%;
        max-height: 75dvh;
        min-width: 0;
    }
}

#ProjectMore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 100px 0;
}

#ProjectMore h1 {
    margin: 0;
    padding: 0;
    font-size: 300%;
    color: var(--Primary);
    text-transform: uppercase;
}

#ProjectMore h3 {
    margin: 0;
    padding: 0;
}

#ProjectMore .PrimaryButton {
    margin: 50px;
}