@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html, body {
  scroll-behavior: smooth;
  	min-height: 100% !important;
    height: 100%;
}

body, main, content, footer, aside {
	background-color: aliceblue;
	
}

*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	
}

/* Styles */
.headerimg {
	width: 100%;
	height: 100vh;
	background-image: url('https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
	/*background-image: url('https://images.unsplash.com/photo-1567507968014-cd038413b9f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2F0JTIwYmxhY2slMjBhbmQlMjB3aGl0ZXxlbnwwfHwwfHw%3D&w=1000&q=80');*/
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.headertitle span {
	color: #fff;
	font-size: 60px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-shadow: rgb(0, 0, 0) 0px 0px 10px;
	/*text-shadow: 10px 10px 11px rgba(255, 255, 255, 0.8);*/
}

.headertitle span::first-letter {
	font-size: 80px;
	text-transform: uppercase;
	color: #fff;
}

.headersub{
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-shadow: rgb(0, 0, 0) 0px 0px 10px;
}

.headersub::first-letter {
	font-size: 25px;
	text-transform: uppercase;
	color: #fff;
}

.sd{
	text-shadow: rgb(0, 0, 0) 0px 0px 10px;
	color: #fff;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}
.sd:hover, .sd:focus{
	color: #fff;
	opacity: .7;
	text-decoration: none;
}

.linkIcons{
	color: #fff;
	font-size: 30px;
	letter-spacing: 10px;
	transition: .5s;
	text-shadow: rgb(0, 0, 0) 0px 0px 20px;
}

.contentArticle {
	justify-content: space-evenly;
}

article {
	padding: 10px;
	border-radius: 5px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	background-color: #fff;
}

section {
	padding: 20px;
}

.asideMenu {
	display: inline-block;
	border-radius: 5px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	padding: 20px;
	height: 100%;
	transition: .5s ease-out;
}

.asideMenu:hover {
	transition: .2s ease-in;
	width: 8.333333333333333%;
}


.asideList li {
	overflow: hidden;
	list-style: none;
	padding: 10px;
	border-radius: 5px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	background-color: #fff;
	margin-bottom: 10px;
}

.asideIcon {
	position: relative;
	right: 0px;
	font-size: 25px;
}

footer {
	background-color: rgb(116, 116, 116);
}

main {
	width: 100%;
	height: 100%;
}

/* Grid variations */
.centerItems {
	position: relative;
	display: flex;
	justify-items: center;
	align-items: center;
}

.relativeCenterItemsY{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	justify-content: center;
	align-items: center;
}

.relativeCenterItemsX{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	justify-content: center;
	align-items: center;
}

.centerText{
	text-align: center;
}

/* Grid Control */
[class*="col-"]{
	float: left;
	box-sizing: border-box;
	border: 1px solid rgb(255, 0, 0);
}

[class*="col_"] {
	float: left;
	box-sizing: border-box;
	border: 1px solid rgb(255, 0, 0);
}

/* Fórmula columnas: n*100 / 12 */
.col-12 {width: 100%;}
.col-11 {width: 91.666666667%;}
.col-10 {width: 83.333333333%;}
.col-9 {width: 75%;}
.col-8 {width: 66.6666666667%;}
.col-7 {width: 58.3333333333%;}
.col-6 {width: 50%;}
.col-5 {width: 41.6666666667%;}
.col-4 {width: 33.3333333333%;}
.col-3 {width: 25%;}
.col-2 {width: 16.66666666667%}
.col-1 {width: 8.333333333333%;}

/* Grids factor 15 */
.col_15 {width: 100%;}
.col_14 {width: 93.3333333333%;}
.col_13 {width: 86.6666666667%;}
.col_12 {width: 80%;}
.col_11 {width: 73.3333333333%;}
.col_10 {width: 66.6666666667%;}
.col_9 {width: 60%;}
.col_8 {width: 53.3333333333%;}
.col_7 {width: 46.6666666667%;}
.col_6 {width: 40%;}
.col_5 {width: 33.3333333333%;}
.col_4 {width: 26.6666666667%;}
.col_3 {width: 20%;}
.col_2 {width: 13.3333333333%;}
.col_1 {width: 1.66666666667%;}

/* Font control */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}

span, p, ul, li, i {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}


/* Header style

Copyright (c) 2017 by verdzik (http://codepen.io/verdzik/pen/PPEXao)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"),
to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense,
and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. */

.header{
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 9;
	transition: all .6s cubic-bezier(0.86, 0, 0.07, 1);
}
.header.scrolled{
	transform: translate3d(0, -100%, 0) scale(.75);
	opacity: 0;
}

.content{
	position: relative;
	background-color: #fff;
	padding: 0;	
	margin: 0;
	transition: all .6s cubic-bezier(0.86, 0, 0.07, 1);
	transform: translate3d(0, 20px, 0) scale(.75);
	opacity: 0;
}
.content.scrolled{
	transform: translate3d(0, 0, 0) scale(1);	
	opacity: 1;
}