/* Font control */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}

span, p, ul, li, i, a{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

/* Body style */

body * {
    box-sizing: border-box;
    /*border: 1px solid red;*/
}
body {
    margin: 0;
    background-color: #000;
}

/* Header style */
#Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    
    position: fixed;
    top: 0;
	z-index: 9;
	transition: transform .6s cubic-bezier(0.86, 0, 0.07, 1), opacity .6s cubic-bezier(0.86, 0, 0.07, 1);
}

#Header.scrolled {
	transform: translate3d(0, -100%, 0) scale(.75);
	opacity: 0;
}

#Header #HeaderTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

#HeaderTitle span {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 5px;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px;
}

#HeaderTitle span::first-letter {
    font-size: 80px;
    text-transform: uppercase;
}

#HeaderSubtitle {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px;
    margin: 0;
}

#HeaderSubtitle::first-letter {
    font-size: 25px;
}

.LinkIcons {
    color: #fff;
	font-size: 30px;
	letter-spacing: 10px;
	transition: .5s;
	text-shadow: rgb(0, 0, 0) 0px 0px 20px;
}

* {
    border: 1px solid red;
}

@keyframes SDIconsAnim {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

#ScrollDown {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    bottom: 10px;
}

.SDIcons {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}

.SDIcons a {
    animation: SDIconsAnim 1s ease infinite;
    text-shadow: rgb(0, 0, 0) 0px 0px 20px;
}

.SDIcons a:nth-child(1) {
    display: inline-block;
    position: relative;
    bottom: -15px;
}
.SDIcons a:nth-child(2) {
    display: inline-block;
    animation-delay: -.1s;
}

.SD {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.SD a *{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600px;
    font-size: 20px;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px;
}

.SD a span::first-letter {
    font-size: 25px;
}

/* Content styles */
#Content {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    padding: 0;
    margin: 0;

	transition: transform .6s cubic-bezier(0.86, 0, 0.07, 1), opacity .6s cubic-bezier(0.86, 0, 0.07, 1);
    opacity: 0;
}

#Content.scrolled {
	opacity: 1;
    transition: transform .6s cubic-bezier(0.86, 0, 0.07, 1), opacity .6s cubic-bezier(0.86, 0, 0.07, 1);
}

/*Aside Menu */
#BackgroundMenu {
	position: fixed !important;
	height: 100vh;
    width: 100%;
	top: 0;
	z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
    transition: all .6s ease;

}

#AsideMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 40px;
    height: 90vh;
    margin: 0;
    padding: 0;
    z-index: 10;
    overflow: hidden;
    pointer-events: auto;
    transition: all .6s ease;
    left: 0;
    border-radius: 0px 5px 5px 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#AsideList {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: all .6s ease;
}

#AsideMenu:hover #AsideList{
    opacity: 1;
    transition: all .6s ease;
}

.AsideItem{
    position: relative;
    text-align: left;
    list-style: none;
}

.AsideItem a {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 35px;
    font-weight: 600;
    color: transparent;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px #bbb;
    padding: 0;

}

.AsideItem a::before {
    content: attr(data-text);
    position: absolute;
    display: inline-block;
    color: #000;
    overflow: hidden;
    width: 0%;
    border-right: #000 2px solid;
    transition: all .6s ease-out;
}

.AsideItem a:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 25px rgb(73, 0, 0));
    color: rgb(73, 0, 0);
    -webkit-text-stroke: 1px rgb(73, 0, 0);
    transition: all .6s ease;
}

#AsideMenu:hover {
    width: 350px;
    transition: all .6s ease;
}

#BackgroundMenu:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transition: all .6s ease;
}

/* About card */

#AboutArticle {
    position: relative;
    display: flex;
    flex-direction: row;

    min-width: 800px;
    max-width: 800px;
    z-index: 1;
    padding: 20px;
}

#AboutArticle:hover > #AboutInfo img{
    left: 555px;
    transition: all .6s ease;
}

#AboutArticle:hover > #AboutInfo #AboutMe {
    
    transform: scale(0, 1);
    background-color: rebeccapurple;
    transition: all .6s ease;
}

#AboutInfo {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    left: 0;
}

#AboutInfo img {
    position: relative;
    left: 0;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all .6s ease;
}

#AboutInfoText {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 0px 240px 0px 0px;
    margin: 0;
    z-index: -1;
}

#AboutInfoText span h3, #AboutInfoText span p{
    display: inline;
    color: red;
}

#AboutMe {
    transform-origin: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 555px;
    padding: 0px 0px 0px 0px;
    margin: 0;
    right: 0;
    z-index: 1;
    text-align: justify;
    transition: all .6s ease;
}

#AboutMe p {
    
    overflow: hidden;
}

/* Slider */
@keyframes display {
	0% {
		transform: translateX(200px);
		opacity: 0;
	}

	10% {
		transform: translateX(0);
		opacity: 1;
	}

	20% {
		transform: translateX(0);
		opacity: 1;
	}

	30% {
		transform: translateX(-200px);
		opacity: 0;
	}

	100% {
		transform: translateX(-200px);
		opacity: 0;
	}
}

.pic-ctn {
	position: relative;
    top: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    z-index: 0;
}

.pic-ctn>img {
	position: absolute;
	opacity: 0;
	animation: display 10s infinite;
	min-width: 100%;
    max-width: 100vh;
    min-height: 100%;
    max-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	filter: blur(5px);
}

img:nth-child(2) {
	animation-delay: 2s;
}

img:nth-child(3) {
	animation-delay: 4s;
}

img:nth-child(4) {
	animation-delay: 6s;
}

img:nth-child(5) {
	animation-delay: 8s;
}

/* Skills */
#SkillsSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 0px 80px 0px;
}

.Skill{
    width: 350px;
    height: 180px;
    margin: 10px 25px;
    padding: 0;
    overflow: hidden;
    pointer-events: all;
}

.SkillSectionsTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 0;
}

.SkillSectionsTitle h1{
    text-align: center;
    position: relative;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
    text-shadow: #e73c7e 0px 0px 20px;
}

.SkillSectionsTitle h1::first-letter{
    font-size: 50px;
    font-weight: 900;
}

.SkillTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateY(0px);
    transition: all .6s ease;
}

.SkillTitle h1{
    display: inline-block;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 0;
    margin: 0;
}

.SkillTitle h1::first-letter {
    font-size: 25px;
    font-weight: 600;
}

.SkillContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateY(0px);
    transition: all .6s ease;
    padding: 0px 10px;
} 

.progressBar {
	position: relative;
	border-radius: 60px;
	overflow: hidden;
	width: 100%;
	float: bottom;
}

.progressBar span {
    display: block;
}

.bar {
    background: rgba(0, 0, 0, 0.2);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.progress {
    background: linear-gradient(45deg, #000, #e73c7e, #23a6d5 , #23d5ab);
	padding: 5px;
    background-size: 400% 400%;
    font-weight: bolder;
    font-size: 15px;
    animation: gradient 10s ease infinite;
}

.Skill:hover .SkillTitle{
    transform: translateY(-350px);
    transition: all .6s ease;
}

.Skill:hover .SkillContent {
    transform: translateY(-180px);
    transition: all .6s ease;
}

#OtherSkillsSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 50px 80px;
}

.OtherSkill {
    width: 250px;
    height: 80px;
    margin: 10px 25px;
    padding: 0;
    overflow: hidden;
    pointer-events: all;
}

.OtherSkill:hover .SkillTitle{
    transform: translateY(-150px);
    transition: all .6s ease;
}

.OtherSkill:hover .SkillContent {
    transform: translateY(-80px);
    transition: all .6s ease;
}

#LanguajesSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 0px 80px 0px;
}

/* Portfolio styles */
#PortfolioSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 0px 80px 0px;
}

#Portfolio {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    column-gap: 0;
}

#PortfolioTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    column-gap: 0;
}

#PortfolioTitle h1, #PortfolioTitle h3 {
    margin: 0;
}

#Portfolio * {
    border: 1px solid red;
}

/* Page styles */
article {
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #fff;
}

/* Header hero style */
/* Copyright (c) 2017 by verdzik (http://codepen.io/verdzik/pen/PPEXao) */