:root {
    --ProjectInfoBGColor: 255, 255, 255;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.StarCanvas {
    width: 100dvw;
    height: 100dvh;
}

#ProjectCover {
    color: var(--OnBackground);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 60dvh;
    left: 5%;
    pointer-events: none;
}

.Project {
    position: relative;
    height: 100dvh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    scroll-snap-align: start;
}

.ProjectInfo {
    background-color: rgba(var(--ProjectInfoBGColor), 0.7);
    padding-top: 10%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 45%;
    height: 100%;
    transition: all .2s;
}

.ProjectInfo:hover {
    background-color: rgba(var(--ProjectInfoBGColor), 0.9);
    transition: all .2s;
}

.ProjectInfo h1 {
    margin: 0;
    font-size: 230%;
}

.ProjectIcons {
    display: flex;
    gap: 15px;
}

.PIcons i{
    text-shadow: none;
}

.ProjectDescription {
    margin-top: 25px;
}

.ProjectLink {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid rgba(248, 248, 255,.45);
    transition: all .2s;
}

.ProjectLink:hover {
    border-bottom: 2px solid rgba(248, 248, 255,1);
}

@media screen and (max-width: 1024px) {
    #projectCover {
        pointer-events: all;
    }

    .ProjectInfo {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 40dvh;
        padding: 10% 5%;
    }
}