.Project {
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    height: 140vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.ProjectInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    width: 45%;
    height: 100%;
}