/* Variable control */

:root {
    --Background: #121212;
    --Surface: #222222;
    --Primary: #ff0266;
    --Option: #222222;
    --Secondary: #ff7597;
    --OnColor: #121212;
    --OnBackground: #F8F8FF;
}

/* Font control */
@font-face {
    font-family: 'Text';
    src: url("/Fonts/Poppins/Poppins-Regular.ttf") format("ttf");
}

@font-face {
    font-family: 'Titles';
    src: url("/Fonts/Edu_TAS_Beginner/EduTASBeginner-VariableFont_wght.ttf") format("ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

h1, h2, h3, h4, h5, h6 {
	font-family: 'Titles', sans-serif;
	font-weight: 600;
}

span, p, ul, li, i, a{
	font-family: 'Text', sans-serif;
	font-weight: 400;
}

/* General Page Styles */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--Background);
}

body * {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

    /* First Letter class */
.FirstLetter {
    font-size: 120%;
}

    /* Tooltip */
[data-tooltip] {
    position: relative;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #222222c0;
    color: var(--Primary);
    font-weight: bold;
    border: var(--Primary) 2px solid;
    border-radius: 5px;
    padding: 3px 10px;
    font-size: 1.1vw;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
    white-space: nowrap;
}

[data-tooltip]:hover::after {
    transition-delay: .3s;
    opacity: 1;
    visibility: visible;
  }