/* Header styles*/

#Header * {
    margin: 0;
    padding: 0;
}

#Header {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(../Images/ChillingCat.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 9;
	transition: all .6s cubic-bezier(0.86, 0, 0.07, 1);
}

#Header.Scrolled {
	transform: translate3d(0, -100%, 0) scale(.75);
	opacity: 0;
}

#Title {
    color: var(--OnBackground);
    text-transform: uppercase;
    font-size: 6vw;
}

#Subtitle {
    color: var(--Primary);
    text-transform: uppercase;
    font-size: 1.5vw;
}

#Title * , #Subtitle *{
    font-weight: bold;
}

#Icons {
    width: 100%;
    margin-top: 2%;
    font-size: 3vw;
    color: var(--OnBackground);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#Icons a {
    transition: all .2s ease;
    cursor: pointer;
}

#Icons a:hover {
    color: var(--Primary);
    transition: all .2s ease;
}

@media only screen and (max-width: 767px) {
    /* phones */
    #Title {
        font-size: 10vw;
    }

    #Subtitle {
        font-size: 4vw;
    }

    #Icons {
        font-size: 8vw;
    }
}

#ScrollDown {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    color: var(--OnBackground);
    font-size: 1.6vw;
}

#SDIcons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

#SDIcons .SDIcon {
    -webkit-text-stroke: 2px;
    color: var(--Primary);
    animation: SDIconsAnim 1s ease infinite;
    bottom: 10px;
}

#ScrollDown .SDIcon:nth-child(1) {
    position: relative;
    bottom: -10px;
}

#ScrollDown .SDIcon:nth-child(2) {
    animation-delay: -.1s;
}

@keyframes SDIconsAnim {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

#SD {
    display: block;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    /* phones */
    #ScrollDown {
        font-size: 6vw;
    }
}

/* Content */

#Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#Content.Scrolled {
	opacity: 1;
    transition: transform .6s cubic-bezier(0.86, 0, 0.07, 1), opacity .6s cubic-bezier(0.86, 0, 0.07, 1);
}

@keyframes display {
	0% {
		transform: translateX(200px);
		opacity: 0;
	}

	10% {
		transform: translateX(0);
		opacity: 1;
	}

	20% {
		transform: translateX(0);
		opacity: 1;
	}

	30% {
		transform: translateX(-200px);
		opacity: 0;
	}

	100% {
		transform: translateX(-200px);
		opacity: 0;
	}
}

.pic-ctn {
	position: relative;
    top: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    z-index: 0;
}

.pic-ctn>img {
	position: absolute;
	opacity: 0;
	animation: display 10s infinite;
	min-width: 100%;
    max-width: 100vh;
    min-height: 100%;
    max-height: 100vh;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
	filter: blur(5px);
}

img:nth-child(2) {
	animation-delay: 2s;
}

img:nth-child(3) {
	animation-delay: 4s;
}

img:nth-child(4) {
	animation-delay: 6s;
}

img:nth-child(5) {
	animation-delay: 8s;
}

/* About Card */

#AboutCard {
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 60vw;
    height: 50vh;
}

#AboutCard:hover > #AboutCardInfo{
    width: 100%;
    transition: all 0.6s ease;
}

#AboutCard:hover > #AboutCardText{
    width: 0%;
    transition: all 0.6s ease;
}

#AboutCardInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.6s ease;
}

#AboutCardInfo > * {
    margin: 0;
    padding: 5px;
}

#AboutCardInfo span > *{
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 1vw;
    text-decoration: none;
    color: var(--OnBackground);
}

#AboutCardInfo h3 {
    color: var(--Primary);
}

#AboutCardInfo span > h3 {
    text-transform: uppercase;
    color: var(--Primary);
}

#AboutCardImage {
    height: 100%;
    margin: 0;
    padding: 0;
}

#AboutCardImage img{
    width: auto;
    height: 100%;
}

#AboutCardInfo #AboutCardIcons > h3 {
    color: var(--OnBackground);
}

#AboutCardIcons a{
    display: inline;
    color: var(--Primary);
    font-size: 2vw;
    padding: 5px;
    transition: all 0.6s ease;
}

#AboutCardIcons a:hover {
    color: var(--OnBackground);
    transition: all 0.6s ease;
}

#AboutCardText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.6s ease;
}