/* Variable control */

:root {
    --Background: #121212;
    --Surface: #222222;
    --Primary: #ff0266;
    --Option: #222222;
    --Secondary: #ff7597;
    --OnColor: #121212;
    --OnBackground: #fff;
}

/* Font control */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}

span, p, ul, li, i, a{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}
