/* Header styles*/

#Header * {
    margin: 0;
    padding: 0;
}

#Header {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(../Images/ChillingCat.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 9;
	transition: all .6s cubic-bezier(0.86, 0, 0.07, 1);
}

#Header.Scrolled {
	transform: translate3d(0, -100%, 0) scale(.75);
	opacity: 0;
}

#Title {
    color: var(--OnBackground);
    text-transform: uppercase;
    font-size: 6vw;
}

#Subtitle {
    color: var(--Primary);
    text-transform: uppercase;
    font-size: 1.5vw;
}

#Title * , #Subtitle *{
    font-weight: bold;
}

#Icons {
    width: 100%;
    margin-top: 2%;
    font-size: 3vw;
    color: var(--OnBackground);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#Icons a {
    transition: all .2s ease;
    cursor: pointer;
}

#Icons a:hover {
    color: var(--Primary);
    transition: all .2s ease;
}

@media only screen and (max-width: 767px) {
    /* phones */
    #Title {
        font-size: 10vw;
    }

    #Subtitle {
        font-size: 4vw;
    }

    #Icons {
        font-size: 8vw;
    }
}

#ScrollDown {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    color: var(--OnBackground);
    font-size: 1.6vw;
}

#SDIcons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

#SDIcons .SDIcon {
    -webkit-text-stroke: 2px;
    color: var(--Primary);
    animation: SDIconsAnim 1s ease infinite;
    bottom: 10px;
}

#ScrollDown .SDIcon:nth-child(1) {
    position: relative;
    bottom: -10px;
}

#ScrollDown .SDIcon:nth-child(2) {
    animation-delay: -.1s;
}

@keyframes SDIconsAnim {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

#SD {
    display: block;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    /* phones */
    #ScrollDown {
        font-size: 6vw;
    }
}

/* Content */
#Content {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    padding: 0;
    margin: 0;

	transition: transform .6s cubic-bezier(0.86, 0, 0.07, 1), opacity .6s cubic-bezier(0.86, 0, 0.07, 1);
    opacity: 0;
}

#Content.Scrolled {
	opacity: 1;
    transition: transform .6s cubic-bezier(0.86, 0, 0.07, 1), opacity .6s cubic-bezier(0.86, 0, 0.07, 1);
}

#Content * {
    color: var(--OnBackground);
}

