/* Header styles*/

#Header * {
    margin: 0;
    padding: 0;
}

#Header {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(../Images/ChillingCat.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 9;
	transition: all .6s cubic-bezier(0.86, 0, 0.07, 1);
}

#Header.Scrolled {
	transform: translate3d(0, -100%, 0) scale(.75);
	opacity: 0;
}

#Title {
    color: var(--OnBackground);
    text-transform: uppercase;
    font-size: 6vw;
}

#Subtitle {
    color: var(--Primary);
    text-transform: uppercase;
    font-size: 1.5vw;
}

#Title * , #Subtitle *{
    font-weight: bold;
}

#Icons {
    width: 100%;
    margin-top: 2%;
    font-size: 3vw;
    color: var(--OnBackground);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}

#Icons a {
    transition: all .2s ease;
    cursor: pointer;
}

#Icons a:hover {
    color: var(--Primary);
    transition: all .2s ease;
}

@media only screen and (max-width: 767px) {
    /* phones */
    #Title {
        font-size: 10vw;
    }

    #Subtitle {
        font-size: 4vw;
    }

    #Icons {
        font-size: 8vw;
    }
}

#ScrollDown {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    color: var(--OnBackground);
    font-size: 1.6vw;
}

#SDIcons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

#SDIcons .SDIcon {
    -webkit-text-stroke: 2px;
    color: var(--Primary);
    animation: SDIconsAnim 1s ease infinite;
    bottom: 10px;
}

#ScrollDown .SDIcon:nth-child(1) {
    position: relative;
    bottom: -10px;
}

#ScrollDown .SDIcon:nth-child(2) {
    animation-delay: -.1s;
}

@keyframes SDIconsAnim {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

#SD {
    display: block;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    /* phones */
    #ScrollDown {
        font-size: 6vw;
    }
}

/* Content */

#Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#Content.Scrolled {
	opacity: 1;
    transition: transform .6s cubic-bezier(0.86, 0, 0.07, 1), opacity .6s cubic-bezier(0.86, 0, 0.07, 1);
}

@keyframes display {
	0% {
		transform: translateX(200px);
		opacity: 0;
	}

	10% {
		transform: translateX(0);
		opacity: 1;
	}

	20% {
		transform: translateX(0);
		opacity: 1;
	}

	30% {
		transform: translateX(-200px);
		opacity: 0;
	}

	100% {
		transform: translateX(-200px);
		opacity: 0;
	}
}

.pic-ctn {
	position: relative;
    top: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    z-index: 0;
}

.pic-ctn>img {
	position: absolute;
	opacity: 0;
	animation: display 10s infinite;
	min-width: 100%;
    max-width: 100vh;
    min-height: 100%;
    max-height: 100vh;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
	filter: blur(5px);
}

img:nth-child(2) {
	animation-delay: 2s;
}

img:nth-child(3) {
	animation-delay: 4s;
}

img:nth-child(4) {
	animation-delay: 6s;
}

img:nth-child(5) {
	animation-delay: 8s;
}

/* About Card */

#AboutCard {
    position: relative;
    z-index: 1;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--Surface);
    width: 60vw;
    height: 50vh;
    transition: all .6s ease;
}

#AboutCard:hover #AboutCardInfoContainer {
    width: 0%;
    transition: all .6s ease;
}

#About {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    left: 0;
}

#AboutCardInfoContainer {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#AboutCardInfo {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all;
    overflow: hidden;
}

#AboutCardInfo h1 {
    margin: 0;
    padding: 5px;
    text-transform: uppercase;
}

#AboutCardInfo h3 {
    margin: 0;
    padding: 0;
    color: var(--Primary);
    text-transform: uppercase;
}

.AboutCardInfoDetail > * {
    display: inline;
    text-decoration: none;
    color: var(--OnBackground);
    font-size: 1vw;
}

.AboutCardInfoDetail h3 {
    color: var(--Primary);
    text-transform: uppercase;
    font-size: 95%;
}

#AboutCardInfoIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;

}

#AboutCardIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

#AboutCardIcons a{
    color: var(--OnBackground);
    text-decoration: none;
    padding: 5px;
    font-size: 150%;
}

#AboutCardTextContainer {
    width: 0;
    max-height: 100px;
    overflow: hidden;
}

/*

#AboutCard:hover > #About #AboutCardImage{
    transform: translateX(100%);
    transition: all .6s ease;
}

#AboutCard:hover > #About #AboutMe { 
    width: 0;
    transition: all .6s ease;
}

#AboutCard:hover > #About #AboutCardInfoContainer {
    width: 100%;
    transition: all .6s ease;
}

#About {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    left: 0;
}

#AboutCardImage {
    display: block;
    left: 0;
    border-radius: 5px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
    transition: all .6s ease;
}

#AboutMe h1 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#AboutMe h1::first-letter {
    font-size: 25px;
}

#AboutMe {
    overflow: hidden;
    position: absolute;
    width: 590px;
    min-height: 300px;
    max-height: 300px;
    right: 0;
    transition: all .6s ease;
}

#AboutMe div {
    position: absolute;
    overflow: hidden;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    text-align: justify;
    min-width: 550px;
    max-width: 550px;
    min-height: 100%;
    max-height: 100%;
}

#AboutCardInfoContainer {
    position: relative;
    overflow: hidden;
    width: 0;
    min-height: 300px;
    max-height: inherit;
    padding: 0;
    margin: 0;
    transition: all .6s ease;
}

#AboutCardInfo {
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 0px;
    row-gap: 0px;
    min-width: 555px;
    max-width: 555px;
    min-height: 300px;
    max-height: 300px;
}

#AboutCardInfo h1 {
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}

#AboutCardInfo h3 {
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--Primary);
}

.AboutCardInfoDetail > *{
    display: inline-block;
    text-decoration: none;
    color: var(--OnBackground);
    padding: 0;
    margin: 0;
}

*/


/*
#AboutCard {
    width: 60vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    z-index: 1;
    transition: all .6s ease;
}

#AboutCard:hover #AboutCardText {
    transition: all 0.6s ease;
    width: 0;
}

#AboutCard:hover #AboutCardInfo {
    transition: all 0.6s ease;
    width: 100%;
}

#AboutCardInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 0;
    transition: all .6s ease;
}

#AboutCardInfo h1 {
    color: var(--OnBackground);
    text-transform: uppercase;
}

#AboutCardInfo h3 {
    color: var(--Primary);
    text-transform: uppercase;
    font-size: 95%;
}

#AboutCardInfo > * {
    display: inline;
    margin: 0;
    padding: 5px;
    white-space: nowrap;
}

.AboutCardInfoDetail > * {
    display: inline;
    color: var(--OnBackground);
    text-decoration: none;
}

.AboutCardInfoDetail h3 {
    display: inline;
    color: var(--Primary);
    text-transform: uppercase;
    font-size: 90%;
}

#AboutCardIcons h3 {
    color: var(--OnBackground);
    text-transform: uppercase;
}

#AboutCardIcons a {
    color: var(--Primary);
    text-decoration: none;
    padding: 5px;
    font-size: 150%;
}

#AboutCardImage {
    height: 100%;
    width: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transition: all .6s ease;
}

#AboutCardText {
    color: var(--OnBackground);
    font-size: 1.2vw;
    text-align: justify;
    white-space: initial;
    resize: none;
    transition: all .6s ease;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
}

#AboutCardTextContainer {
    position: absolute;
    overflow: hidden;
    right: 0;
    padding: 20px;
    text-align: justify;
    min-width: 555px;
    max-width: 555px;
}

#AboutCardText h1 {
    padding: 5px 20px;
    color: var(--Primary);
    text-transform: uppercase;
    position: relative;
    right: 0;
}

#AboutCardText p {
    padding: 5px 20px;
}*/