/* Variable control */

:root {
    --Background: #121212;
    --Surface: #222222;
    --Primary: #ff0266;
    --Secondary: #ff7597;
    --Option: #222222;
    --OnColor: #121212;
    --OnBackground: #f8f8ff;
}

/* Font control */

h1, h2, h3, h4, h5, h6 {
    font-family: "Sono", monospace;
    font-weight: 500;
}

span, p, ul, li, i, a{
	font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

/* General Page Styles */
* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--Background);
    overflow-x: hidden;
}

/* Loading screen */
#LoadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--Background);
    z-index: 10;
    overflow: hidden;
    clip-path: inset(0);
}

#LoadingScreenLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes LoadingScreenAppear {
    0% {
        width: 0;
        height: 0;
    }

    10% {
        border-bottom-right-radius: 100%;
    }

    100% {
        width: 100vw;
        height: 100vh;
        border-bottom-right-radius: 0;
    }
}

.LoadingScreenAppear {
    animation-name: LoadingScreenAppear;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes LoadingScreenDisappear {
    0% {
        width: 100vw;
        height: 100vh;
        border-bottom-right-radius: 0;
    }

    10% {
        border-bottom-right-radius: 50%;
    }

    100% {
        width: 0;
        height: 0;
    }
}

.LoadingScreenDisappear {
    animation-name: LoadingScreenDisappear;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

    /* First Letter class */
.FirstLetter {
    font-size: 120%;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

/* Type writer styles */
.TypewriterEffect {
    width: 100%;
    max-width: fit-content;
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: hidden;
    animation: typewriter 4s steps(calc(var(--Steps) * 4)) 1s 1 normal both, blinkTextCursor 500ms infinite normal;
}

@keyframes typewriter{
    from{width: 0;}
    to{width: 100%;}
  }

@keyframes blinkTextCursor{
    from{border-right-color: var(--Primary);}
    to{border-right-color: transparent;}
  }

    /* Scroller design */
    
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background: var(--Background);
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--Secondary);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--Primary);
}

    /* Icons styles */
i {
    text-shadow: rgb(0, 0, 0) 0px 0px 20px;
}

    /* Buttons styles */
.PrimaryButton {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--Primary);
    border: none;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
    color: var(--OnBackground);
    font-size: 110%;
}
   
.ButtonIcon, .ButtonText {
    padding: 5px 10px;
    text-transform: uppercase;
    transition: all .3s;
}
   
.ButtonIcon {
    -webkit-text-stroke: 1px;
    position: absolute;
    inset: 0;
    background-color: var(--Secondary);
    transform: translate(0%,100%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ButtonIcon i {
    text-shadow: none;
    font-size: 110%;
}
   
.PrimaryButton:hover .ButtonText {
    transform: translate(0%,-100%);
}
   
.PrimaryButton:hover .ButtonIcon {
    border-radius: 10px;
    transform: translate(0%,0%);
}

.PrimaryButton:active {
    transform: scale(0.95);
}

    /* Tooltip */
[data-tooltip] {
    position: relative;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #222222c0;
    color: var(--Primary);
    border: var(--Primary) 2px solid;
    border-radius: 5px;
    padding: 3px 10px;
    font-size: 1.1vw;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-out;
    white-space: nowrap;
}

[data-tooltip]:hover::after {
    transition-delay: .3s;
    opacity: 1;
    visibility: visible;
}

    /* Header menu */

#HeaderMenuContainer {
    position: relative;
    height: 0;
}

#HeaderMenu {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 3vw;
    position: sticky;
    top: 0;
    z-index: 6;
}

.HeaderMenuItem {
    text-decoration: none;
    color: var(--OnBackground);
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    padding: 10px 10px 5px 10px;
    cursor: pointer;
    font-size: 13px;
    letter-spacing: 1px;
}

.HeaderMenuItemActive {
    border-bottom: 3px solid var(--Primary);
    transition: all 0.3s ease;
}

.HeaderMenuItem:hover {
    border-bottom: 3px solid var(--OnBackground);
    transition: all 0.3s ease;
}

.HeaderMenuItem:hover a, .HeaderMenuItem:hover a * {
    color: var(--Primary);
}

@media only screen and (max-width: 1025px) {
    /* phones */
    .HeaderMenuItem {
        font-size: 10px;
        letter-spacing: 1px;
    }
}

@media only screen and (min-width: 1921px) {
    /* phones */
    .HeaderMenuItem {
        font-size: 15px;
        letter-spacing: 1px;
    }
}

/* Block style class */
.Block {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
    background-color: var(--Surface);
    color: var(--OnBackground);
}

/* Floating window styles */

.FloatingWindowBackground {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #00000080;
    z-index: 7;
    display: none;
}

.FloatingWindow {
    position: fixed;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
    background-color: var(--Surface);
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0vw;
    height: 0vh;
    z-index: 8;
    transition: all .3s;
}

.FloatingWindowActive {
    top: 50%;
    left: 50%;
    width: 70vw;
    height: 85vh;
    transform: translate(-50%, -50%);
    transition: all .3s;
}

.FloatingWindowControl {
    background-color: var(--Primary);
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.FloatingWindowControl h3 {
    margin: 0;
    padding: 0;
    color: var(--OnBackground);
    text-transform: uppercase;
}

.CloseFloatingWindow {
    background-color: var(--Background);
    color: var(--OnBackground);
    -webkit-text-stroke: 1px;
    padding: 5px;
    border-radius: 100%;
    cursor: pointer;
    transition: all .2s;
}

.FloatingWindowControl i:hover {
    scale: 0.85;
    transition: all .2s;
}

.FloatingWindowControl i:active {
    scale: 1;
    transition: all .1s;
}

.FloatingWindowContent {
    color: var(--OnBackground);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 50px);
}

.FloatingWindowPDF {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 1025px) {
    /* phones */
    .FloatingWindow {
        width: 100vw;
        height: 130vw;
        padding: 0;
    }
}

/* Footer styles */
#Separation {
    margin: auto;
    width: 80vw;
    height: 0;
    border: rgba(255, 2, 102, 0.3) 1px solid;
    border-radius: 5px;
}

#Footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    color: rgba(248, 248, 255,.65);
    font-size: 70%;
    text-transform: uppercase;
}

#FooterMe a{
    text-decoration: none;
    color: rgba(248, 248, 255,.65);
}

#FooterIcons {
    text-transform: none;
    font-size: 145%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-right: 20px;
}

#FooterIcons i {
    color: rgba(248, 248, 255,.65);
}

#FooterIcons i:hover {
    color: var(--Primary);
}