/* Variable control */

:root {
    --Background: #121212;
    --Surface: #222222;
    --Primary: #ff7597;
    --Option: #222222;
    --Secondary: #ff0266;
    --OnColor: #121212;
    --OnBackground: #fff;
}

/* Font control */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}

span, p, ul, li, i, a{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

/* Body style */

html {
    scroll-behavior: smooth;
}

body * {
    cursor: default;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body a {
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--Background);
}

/* Header style */
#Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    
    position: fixed;
    top: 0;
	z-index: 9;
	transition: transform .6s cubic-bezier(0.86, 0, 0.07, 1), opacity .6s cubic-bezier(0.86, 0, 0.07, 1);
}

#Header.scrolled {
	transform: translate3d(0, -100%, 0) scale(.75);
	opacity: 0;
}

@keyframes barberpole {
    100% {
      background-position: 100% 100%;
    }
}
#HeaderAnnouncements {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100vw;
    height: 20px;
    background: repeating-linear-gradient(-45deg, rgba(255, 174, 0, 0.5), rgba(255, 174, 0, 0.5) 1rem,rgba(0, 0, 0, 0.5) 1rem,rgba(0, 0, 0, 0.5) 2rem);
    background-size: 200% 200%;
    animation: barberpole 100s linear infinite;
    z-index: 12;
    color: var(--Secondary);
    -webkit-text-stroke: #121212 .5px;
    text-transform: uppercase;
    font-weight: 600;
}

#Header #HeaderTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

#HeaderTitle span {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 5px;
    text-shadow: var(--Primary) 0px 0px 100px;
}

#HeaderTitle span::first-letter {
    font-size: 80px;
    text-transform: uppercase;
}

#HeaderSubtitle {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px;
    margin: 0;
}

#HeaderSubtitle::first-letter {
    font-size: 25px;
}

@keyframes SDIconsAnim {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

#ScrollDown {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    bottom: 10px;
}

.SDIcons {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-text-stroke: 2px;
    color: var(--OnBackground);
    font-size: 20px;
    
}

.SDIcons a {
    cursor: pointer;
    animation: SDIconsAnim 1s ease infinite;
    text-shadow: rgb(0, 0, 0) 0px 0px 20px;
}

.SDIcons a:nth-child(1) {
    display: inline-block;
    position: relative;
    bottom: -15px;
}
.SDIcons a:nth-child(2) {
    display: inline-block;
    animation-delay: -.1s;
}

.Home {
    cursor: pointer;
    margin-bottom: 50px;
}

.SD {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.SD a *{
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--Secondary);
    text-transform: uppercase;
    font-weight: 600px;
    font-size: 20px;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px;
}

.SD a span::first-letter {
    font-size: 25px;
}

/* Content styles */
#Content {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    padding: 0;
    margin: 0;

	transition: transform .6s cubic-bezier(0.86, 0, 0.07, 1), opacity .6s cubic-bezier(0.86, 0, 0.07, 1);
    opacity: 0;
}

#Content.scrolled {
	opacity: 1;
    transition: transform .6s cubic-bezier(0.86, 0, 0.07, 1), opacity .6s cubic-bezier(0.86, 0, 0.07, 1);
}

.SectionsTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    margin: 0px 0px 20px 0px;
    padding: 0;
}

.SectionsTitle h1{
    text-align: center;
    position: relative;
    padding: 0;
    color: var(--OnBackground);
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 700;
}

.SectionsTitle h1::first-letter{
    font-size: 60px;
    font-weight: 700;
}

/*Aside Menu */
#BackgroundMenu {
	position: fixed;
	height: 100vh;
    width: 100%;
	z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
    transition: all .6s ease;

}

#AsideMenuIcon {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    top: 0px;
    left: 0;
    overflow: hidden;
    border-radius: 0px 5px 0px 0px;
    transition: all .6s ease;
}

#AsideMenuIcon i {
    color: var(--OnBackground);
    font-size: 20px;
    font-weight: 900;
}

#AsideMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Surface);
    width: 40px;
    height: 90vh;
    margin: 0;
    padding: 0;
    z-index: 10;
    overflow: hidden;
    pointer-events: auto;
    transition: all .6s ease;
    left: 0;
    border-radius: 0px 5px 5px 0px;
    /*box-shadow: rgba(255, 255, 255, 0.25) 0px 6px 12px -2px, rgba(255, 255, 255, 0.3) 0px 3px 7px -3px;*/
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
}

#AsideList {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: all .6s ease;
}

#AsideMenu:hover #AsideList{
    opacity: 1;
    transition: all .6s ease;
}

.AsideItem{
    position: relative;
    text-align: left;
    list-style: none;
}

.AsideItem a {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 35px;
    font-weight: 600;
    color: var(--OnBackground);
    letter-spacing: 2px;
    /*-webkit-text-stroke: 1px var(--Primary);*/
    padding: 0;

}

.AsideItem a::before {
    content: attr(data-text);
    position: absolute;
    display: inline-block;
    color: var(--OnBackground);
    overflow: hidden;
    width: 0%;
    border-right: var(--Secondary) 3px solid;
    transition: all .6s ease-out;
}

.AsideItem a:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 55px var(--Primary));
    color: var(--OnBackground);
    /*-webkit-text-stroke: 1px var(--Secondary);*/
    transition: all .6s ease;
}

#AsideMenu:hover {
    width: 350px;
    transition: all .6s ease;
}

#AsideMenu:hover #AsideMenuIcon {
    opacity: 0;
    width: 350px;
    transition: all .6s ease;
}

#BackgroundMenu:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transition: all .6s ease;
}

/* About card */

#AboutArticle {
    position: relative;
    display: flex;
    flex-direction: row;

    min-width: 800px;
    max-width: 800px;
    z-index: 1;
    padding: 20px;
}

#AboutArticle:hover > #About img{
    left: 555px;
    transition: all .6s ease;
}

#AboutArticle:hover > #About #AboutMe { 
    width: 0;
    transition: all .6s ease;
}

#AboutArticle:hover > #About #AboutInfo {
    width: 555px;
    transition: all .6s ease;
}

#About {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    left: 0;
}

#About img {
    position: absolute;
    left: 0;
    border-radius: 5px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
    transition: all .6s ease;
}

#AboutMe h1 {
    display: inline;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--Secondary);
}

#AboutMe h1::first-letter {
    font-size: 25px;
}

#AboutMe {
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 555px;
    min-height: 300px;
    max-height: 300px;
    right: 0;
    transition: all .6s ease;
}

#AboutMe div {
    position: absolute;
    overflow: hidden;
    right: 0;
    padding: 20px;
    text-align: justify;
    min-width: 555px;
    max-width: 555px;
    min-height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#AboutInfoText span h1 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#AboutInfoText span h1::first-letter {
    font-size: 25px;
}

#AboutInfoText span h3 {
    letter-spacing: 0.5px;
    font-size: 15px;
    text-transform: uppercase;
}

#AboutInfoText span h3::first-letter {
    font-size: 20px;
}

#AboutInfo {
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 0;
    min-height: 300px;
    max-height: 300px;
    padding: 0;
    margin: 0;
    right: 0;
    transition: all .6s ease;
}

#AboutInfo #AboutInfoText span > *{
    display: inline-block;
    text-decoration: none;
    color: var(--OnBackground);
    padding: 0;
    margin: 0;
}

#AboutInfo #AboutInfoText {
    position: absolute;
    overflow: hidden;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 0px;
    row-gap: 0px;
    min-width: 555px;
    max-width: 555px;
    min-height: 300px;
    max-height: 300px;
}

#InfoIcons .LinkIcons {
    color: var(--Secondary) !important;
    text-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
}

#InfoIcons .LinkIcons > *:hover {
    transition: all .2s ease;
    color: var(--OnBackground);
}

/* Slider */
@keyframes display {
	0% {
		transform: translateX(200px);
		opacity: 0;
	}

	10% {
		transform: translateX(0);
		opacity: 1;
	}

	20% {
		transform: translateX(0);
		opacity: 1;
	}

	30% {
		transform: translateX(-200px);
		opacity: 0;
	}

	100% {
		transform: translateX(-200px);
		opacity: 0;
	}
}

.pic-ctn {
	position: relative;
    top: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    z-index: 0;
}

.pic-ctn>img {
	position: absolute;
	opacity: 0;
	animation: display 10s infinite;
	min-width: 100%;
    max-width: 100vh;
    min-height: 100%;
    max-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	filter: blur(5px);
}

img:nth-child(2) {
	animation-delay: 2s;
}

img:nth-child(3) {
	animation-delay: 4s;
}

img:nth-child(4) {
	animation-delay: 6s;
}

img:nth-child(5) {
	animation-delay: 8s;
}

/* Skills */
#SkillsSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 0px 60px 0px;
}

.SkillsTools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;
}

.SkillTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateY(0px);
    transition: all .6s ease;
}

.SkillTitle h1{
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 0;
    margin: 0;
    color: var(--OnBackground);
}

.SkillTitle h1::first-letter {
    font-size: 25px;
    font-weight: 600;
}

/* Experience styles */

#Experience {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 0px 80px 0px;
    background-color: var(--Surface);
    color: var(--OnBackground);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
}

.Exp {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 100%;
}

.ExpTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: var(--Background);
}

.ExpTitle h1::first-letter {
    font-size: 25px;
}

.ExpContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    left: 20px;
    border-left: 5px solid var(--Background);
    padding-left: 10px;
}

.ExpPointContainer {
    position: relative;
    top: 20px;
    left: -20px;
    z-index: 1;
}

.ExpPoint {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--Surface);
    border: 3px solid var(--Background);
    z-index: 1;
}

.ExpPoint::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--Secondary);
    opacity: 0;
    z-index: -1;
}

.ExpPoint.Anim::after {
    animation: Breathe 2s infinite;
}

@keyframes Breathe {
	0% {
        transform: scale(0);
        opacity: 1;
    }
    25%{
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(3);
        opacity: 0;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.ExpHeader {
    position: relative;
    display: flex;
    flex-direction: column;
}

.ExpHeader .ExpJob {
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
}

.ExpHeader .ExpTime { 
    font-weight: 500;
    font-size: 15px;
    padding: 0;
    margin: 0;
    color: var(--Secondary);
}

.ExpInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.ExpInfo .ExpInfoDetails {
    position: relative;
    height: 0px;
    overflow: hidden;
    transition: all .2s ease;
}

.ExpInfo .ExpInfoDetails.Open {
    height: 120px;
    overflow: hidden;
    transition: all .2s ease;
}

.Expand {
    cursor: pointer;
    color: var(--Secondary);
    pointer-events: all;
    position: relative;
    left: 40%;
    font-size: 15px;
    -webkit-text-stroke: 1px;
}

.ExpInfo i:nth-child(2n) {
    position: relative;
    top: -15px;
    font-size: 15px;
    animation-delay: -.1s;
}

.Expand.ExpAnim {
    animation: SDIconsAnim 1s infinite;
}

@keyframes Expand {
    0% {
        top: calc(100% + 15px)
    }

    50% {
        top: calc(100% + 0px)
    }

    100% {
        top: calc(100% + 15px)
    }
}

/* Portfolio styles */

#Portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 80px 80px 80px;
}

#Portfolio article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70vw;
    padding: 10px 10px 25px 10px;
}

#PortfolioTimer {
    width: 100%;
}

#PortfolioTimer .progress{
    transition: 7s all linear;
    width: 0%;
}

#PortfolioContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
    width: 100%;
    padding: 0 10px;
}

#PortfolioButtons{
    background-color: var(--Secondary);
    border-radius: 5px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
    font-size: 20px;
    -webkit-text-stroke: 5px;
    color: var(--Surface);
    padding: 5px;
    cursor: pointer;
    transition: all .2s ease;
}

#PortfolioButtons:hover {
    background-color: var(--Primary);
}

#PortfolioContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 20px;
    overflow: hidden;
}

.PortfolioProject {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    overflow: hidden;
    transition: all 1s ease;
    max-height: 400px;
}

.PortfolioProject img {
    width: 550px;
    height: 400px;
    border-radius: 5px;
    filter: grayscale();
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
}

.PortfolioIcons {
    color: var(--Secondary);
    font-size: 25px;
}

.PortfolioIcons .LinkIcons {
    color: var(--Secondary) !important;
    cursor: none;
    text-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
    font-weight: 600;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.PortfolioIcons .LinkIcons > *:hover {
    transition: all .2s ease;
    cursor: default;
    color: var(--OnBackground);
}

.PortfolioInfo {
    padding: 10px;
}

.PortfolioTitle h1{
    display: inline-block;
    text-transform: uppercase;
}

.PortfolioTitle h1::first-letter {
    font-size: 25px;
}

.PortfolioDescription {
    text-align: justify;
    max-height: 210px;
    overflow: hidden;
    overflow-y: auto;
    padding: 0 10px 0 0;
}

.PortfolioHidden {
    width: 0;
}

/* Footer styles */
#Footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 60px;
    background-color: var(--Surface);
    color: var(--OnBackground);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
}

#FooterInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    padding: 0 0 30px 0;
}

#FooterInfo .SectionsTitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    width: 180px;
    padding: 0 0 0 15px;
    margin: 0;
    border-bottom: 2px solid var(--Secondary);
}

#FooterInfo h1 {
    padding: 0;
    margin: 0;
    color: var(--OnBackground);
    text-transform: uppercase;
    font-size: 22px;
}

#FooterInfo h1::first-letter{
    font-size: 30px;
}

#FooterMenu ul{
    padding: 10px 0 0 15px;
    margin: 0;
    list-style: none;
    
}

#FooterMenu ul li a {
    text-decoration: none;
    color: var(--OnBackground);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all .2s ease;
}

#FooterMenu ul li a:hover {
    color: var(--Secondary);
    transition: all .2s ease;
}

#FooterMessage p {
    padding: 10px 0 0 15px;
    font-weight: 500;
}

#FooterMessage i:first-child {
    font-size: 20px;
    color: var(--Secondary);
    padding: 0 10px 0 0;
}

#FooterMessage i:last-child {
    font-size: 20px;
    color: var(--Secondary);
    padding: 0 0 0 10px;
}

#FooterDownloads ul {
    list-style: none;
    padding: 10px 0 0 15px;
    margin: 0;
}

#FooterDownloads ul li {
    padding: 0 0 10px 0;
}

#FooterEnd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid var(--Secondary);
    padding: 10px 0px 0px 0px;
    width: 100%;
}

#MadeWith span span{
    color: var(--Secondary);
}

#FooterIcons .LinkIcons{
    font-size: 20px;
    transition: all .2s ease;
    color: var(--Secondary);
}

#FooterIcons .LinkIcons > *:hover {
    transition: all .2s ease;
    color: var(--OnBackground);
}

/* Page styles */
article {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
    background-color: var(--Surface);
    color: var(--OnBackground);
}

.LinkIcons {
    position: relative;
    color: #fff;
	font-size: 30px;
	letter-spacing: 2px;
	transition: all .2s ease;
    padding: 5px;
	text-shadow: rgb(0, 0, 0) 0px 0px 20px;
}

.LinkIcons > * {
    transition: all .2s ease;
    cursor: pointer;
}

.LinkIcons > *:hover {
    transition: all .2s ease;
    color: var(--Secondary);
}

.progressBar {
	position: relative;
	border-radius: 60px;
	overflow: hidden;
	width: 100%;
	float: bottom;
    margin-bottom: 15px;
}

.progressBar span {
    display: block;
}

.bar {
    background: var(--Surface);
}

.progress {
    color: var(--OnColor);
    background: linear-gradient(45deg, var(--OnBackground), var(--Secondary) , var(--Primary));
    padding: 5px;
    background-size: 400% 400%;
    font-weight: bolder;
    font-size: 15px;
    animation: gradient 10s ease infinite;
    transition: all 150ms ease-out;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.DownloadButtons {
    border: 2px solid var(--Secondary);
    background-color: transparent;
    color: var(--Secondary);
    padding: 10px 15px;
    margin: 0;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all .2s ease;
}

.DownloadButtons:hover {
    background-color: var(--Secondary);
    color: var(--OnBackground);
    transition: all .2s ease;
}

.DownloadButtons span {
    cursor: pointer;
    letter-spacing: 2px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.DownloadButtons span::first-letter {
    font-size: 20px;
}

.Tooltip {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    bottom: 110%;
    left: 0; 
    right: 0;
    transition-delay: .2s;
    z-index: 1;
    transition: all .1s ease;
}


.TooltipText {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    background-color: #121212c5;
    color: var(--Secondary);
    border-radius: 10px;
    border: 2px solid var(--Secondary);
    padding: 1px 10px;
    white-space: nowrap;
    pointer-events: none;
}

.LinkIcons:hover .Tooltip{
    
    opacity: 1;
    transition-delay: .5s;
    transition: all .1 ease;
}

.PortIcons:hover .Tooltip{
    
    opacity: 1;
    transition-delay: .5s;
    transition: all .1 ease;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background: var(--Background);
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--Secondary);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--Primary);
}

/* Header hero style */
/* Copyright (c) 2017 by verdzik (http://codepen.io/verdzik/pen/PPEXao) */