/* Font control */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}

span, p, ul, li, i {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

/* Body style */

body * {
    box-sizing: border-box;
    /*border: 1px solid red;*/
}
body {
    margin: 0;
}

/* Header style */
#Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    
    position: fixed;
    top: 0;
	z-index: 9;
	transition: all .6s cubic-bezier(0.86, 0, 0.07, 1);
}

#Header.scrolled {
	transform: translate3d(0, -100%, 0) scale(.75);
	opacity: 0;
}

#Header #HeaderTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

#HeaderTitle span {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 5px;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px;
}

#HeaderTitle span::first-letter {
    font-size: 80px;
    text-transform: uppercase;
}

#HeaderSubtitle {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px;
    margin: 0;
}

#HeaderSubtitle::first-letter {
    font-size: 25px;
}

.LinkIcons {
    color: #fff;
	font-size: 30px;
	letter-spacing: 10px;
	transition: .5s;
	text-shadow: rgb(0, 0, 0) 0px 0px 20px;
}

#SD {
    display: flex;
    position: absolute;
    bottom: 0;
    margin: 0;
}

#SD a span{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600px;
    font-size: 15px;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px;
}

#SD a span::first-letter {
    font-size: 20px;
}

/* Content styles */
#Content {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    padding: 0;
    margin: 0;

	transition: all .6s cubic-bezier(0.86, 0, 0.07, 1);
	transform: translate3d(0, 20px, 0) scale(.75);
    opacity: 0;
}

#Content.scrolled {
	transform: translate3d(0, 0, 0) scale(1);
	opacity: 1;
}

/* Slider */
@keyframes display {
	0% {
		transform: translateX(200px);
		opacity: 0;
	}

	10% {
		transform: translateX(0);
		opacity: 1;
	}

	20% {
		transform: translateX(0);
		opacity: 1;
	}

	30% {
		transform: translateX(-200px);
		opacity: 0;
	}

	100% {
		transform: translateX(-200px);
		opacity: 0;
	}
}

.pic-ctn {
	position: relative;
    top: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    z-index: 0;
}

.pic-ctn>img {
	position: absolute;
	opacity: 0;
	animation: display 10s infinite;
	min-width: 100%;
    max-width: 100%;
	min-height: 100vh;
    max-height: 100vh;
	filter: blur(5px);
}

img:nth-child(2) {
	animation-delay: 2s;
}

img:nth-child(3) {
	animation-delay: 4s;
}

img:nth-child(4) {
	animation-delay: 6s;
}

img:nth-child(5) {
	animation-delay: 8s;
}

/* Page styles */
article {
    padding: 10px;
	border-radius: 5px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	background-color: #fff;
}

#AboutArticle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 800px;
    max-width: 800px;
    min-width: 250px;
    max-height: 250px;
    z-index: 1;
}

#AboutArticle h1 {
    color: #000;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: #000 0px 0px 10px;
}

#AboutArticle p{
    color: #000;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: justify;
    text-align-last: center;
    padding: 0px 15px;
}

#SkillsSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

.Skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 180px;
    margin: 10px 25px;
}

.SkillTitle {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: #000 0px 0px 5px;
    padding: 0;
    margin: 0;
}

.progressBar {
	position: relative;
	border-radius: 60px;
	overflow: hidden;
	width: 100%;
	float: bottom;
}

.progressBar span {
	display: block;
}

.bar {
	background: rgba(0, 0, 0, 0.2);
}

.progress {
	background: #212121;
	padding: 5px;
}

/* Header hero style */
/* Copyright (c) 2017 by verdzik (http://codepen.io/verdzik/pen/PPEXao) */